// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: separate;
}

.even {
  background-color: white;
}

.odd {
  background-color: #d6e1c3;
}

td {
  padding: 12px;
}

.navBox {
  display: inline-block;
}
